{% for node in zookeeper_hosts  %}
{%   if node.address == zookeeper_hosts_hostname or node.address == ansible_default_ipv4.address %}
{{ node.id }}
{%   endif %}
{%   if node == zookeeper_hosts_hostname or node == ansible_default_ipv4.address %}
{{ loop.index }}
{%   endif %}
{% endfor %}
