{{ ansible_managed | comment }}
tickTime={{ zookeeper_tick_time }}
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_data_log_dir }}
globalOutstandingLimit={{ zookeeper_global_outstanding_limit }}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}
4lw.commands.whitelist={{ zookeeper_whitelisted_commands }}
maxClientCnxns={{ zookeeper_max_client_connections }}
minSessionTimeout={{ zookeeper_min_session_timeout }}
maxSessionTimeout={{ zookeeper_max_session_timeout }}
preAllocSize={{ zookeeper_pre_alloc_size }}
snapCount={{ zookeeper_snap_count }}
standaloneEnabled={{ zookeeper_standalone }}
reconfigEnabled={{ zookeeper_reconfig }}
leaderServes={{ zookeeper_leader_servers }}
{% if zookeeper_autopurge_purgeInterval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purgeInterval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snapRetainCount }}
{% endif %}

clientPort={{ zookeeper_client_port }}
clientPortAddress={{ zookeeper_client_address }}

{% for node in zookeeper_hosts %}
{%   if node.address is defined %}
server.{{ node.id }}={{ node.address }}:{{ zookeeper_cluster_ports }}
{%   else %}
server.{{ loop.index }}={{ node }}:{{ zookeeper_cluster_ports }}
{%   endif %}
{% endfor %}
{# :{{ node.role }}:{{ zookeeper_client_port }} #}
