# {{ ansible_managed }}

tickTime={{ zookeeper_tick_time }}
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_data_log_dir }}
globalOutstandingLimit={{ zookeeper_global_outstanding_limit }}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}
4lw.commands.whitelist={{ zookeeper_whitelisted_commands }}
maxClientCnxns={{ zookeeper_max_client_connections }}
minSessionTimeout={{ zookeeper_min_session_timeout }}
maxSessionTimeout={{ zookeeper_max_session_timeout }}
preAllocSize={{ zookeeper_pre_alloc_size }}
snapCount={{ zookeeper_snap_count }}
standaloneEnabled={{ zookeeper_standalone }}
leaderServes={{ zookeeper_leader_servers }}
{% if zookeeper_autopurge_purgeInterval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purgeInterval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snapRetainCount }}
{% endif %}

clientPort={{ zookeeper_client_port }}
clientPortAddress={{ zookeeper_client_port_address }}

{% for server in zookeeper_hosts %}
{%   if server.host is defined %}
{%     if server.ip is defined %}
server.{{ server.id }}={{ server.ip }}:{{ zookeeper_cluster_ports }}
##:{{ server.role }};{{ server.client_port }}
{%     else %}
server.{{ server.id }}={{ server.host }}:{{ zookeeper_cluster_ports }}
##:{{ server.role }};{{ server.client_port }}
{%     endif %}
{%   else %}
server.{{ loop.index }}={{ server }}:{{ zookeeper_cluster_ports }}
##:{{ server.role }};{{ zookeeper_client_port }}
{%   endif %}
{% endfor %}
