{{ ansible_managed | comment }}
[Unit]
Description=ZooKeeper
After=network.target
Wants=network.target

[Service]
{% if jemalloc_lib is defined and jemalloc_lib != '' %}
Environment=LD_PRELOAD={{ jemalloc_lib }}
{% endif %}
{% if zookeeper_java_home is defined and zookeeper_java_home != '' %}
Environment=JAVA_HOME={{ zookeeper_java_home }}
{% endif %}
LimitNOFILE={{ zookeeper_max_open_files | d('65536') }}
LimitNPROC={{ zookeeper_max_threads | d('65536') }}
{% if zookeeper_memlock_enabled | bool %}
LimitMEMLOCK=infinity
{% endif %}
Type=simple
User=zookeeper
Group=zookeeper
ExecStart={{ zookeeper_dir }}/bin/zkServer.sh start-foreground
Restart=always
RestartSec=3
TimeoutSec=300

[Install]
WantedBy=multi-user.target
